---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ItemImage from "./Item7.png"
import { Picture } from "astro:assets"

const itemName  = "Кронштейн мушки для МДТ или ДТ СВД/Тигр/TG3"
const pageTitle = "| Рок-и-Ровка | Каталог".concat(" | ", itemName, " |")
---
<BaseLayout pageTitle={pageTitle} itemName = {itemName}>

    <Picture src={ItemImage} formats={['avif', 'webp']} alt="" layout='constrained' width={400} />

    <p><strong>Материалы:</strong> алюминий Д16Т, сталь 40Х.</p>

    <p><strong>Масса:</strong> ~465 г, - добавляет к массе всего изделия около 55г (относительно штатного цевья-
    накладок).</p>
    
    <p>Длина 315 мм (от торца ствольной коробки)</p>

    <p>Ствол свободновывешен.</p>

    <p>Цевье имеет слоты M-LOK со всех 4 сторон.</p>

    <p>Возможно использование штатного газблока - газовый двигатель разбирается для чистки. При
    использовании газблока «Рок и Ровка» для эта процедура существенно облегчается.
    Установка проста и однозначна – ничего не перепутать. Немного хлопот лишь доставляет
    демонтаж штатной фурнитуры, включительно колодку целика. После на ствол и выступ ствольной
    коробки «одевается» стальная муфта, позиционируется цилиндрическим выступом направляющей
    толкателя по цилиндрической лунке в ствольной коробке. Протягиваются 2 винта М5 муфты цевья
    с моментом 8Нм. Затем на муфту устанавливаются нижняя и верхняя половины цевья и
    затягиваются винты крепления: М5 в муфту момент 4Нм, М4 в сухарь снизу момент 2Нм, М5
    между половинами цевья момент 2Нм. Устанавливаются обратно газблок и пламегаситель.</p>

    <p>Требуются слесарные навыки и инструмент для установки</p>
    
    <h3>Цена: 41000 руб.</h3>
</BaseLayout>
