---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ItemImage from "./Item4.png"
import { Picture } from "astro:assets"

const itemName  = "Дульный тормоз СВД/Тигр/TG3 переходник на М24х1.5"
const pageTitle = "| Рок-и-Ровка | Каталог".concat(" | ", itemName, " |")
---
<BaseLayout pageTitle={pageTitle} itemName = {itemName}>

    <Picture src={ItemImage} formats={['avif', 'webp']} alt="" layout='constrained' width={400} />

    <p><strong>Материал:</strong> Сталь 40Х</p>

    <p><strong>Масса:</strong> 118 г</p>

    <p><strong>Покрытие:</strong> Хим.Окс.Прм (черный)</p>

    <p>Крепится на ствол вместо штатного пламегасителя. Крепление типа муфты, зажим – 6
    высокопрочных винтов М4 в гайки (в случае каких-либо проблем с крепежом его легко и недорого
    заменить на новый). Дополнительная фиксация на стволе осуществляется одним или двумя
    установочными винтами, попадающими в «лунки» ствола из-под штифтов крепления штатного
    пламегасителя.</p>

    <p>Передняя часть ДТ аналогична АК, что дает возможность использования соответствующих
    «банок».</p>

    <p>В основании ДТ предусмотрена возможность крепления кронштейна под штатное основание
    мушки (приобретается отдельно).</p>

    <p>Требуются слесарные навыки и инструмент для установки.</p>
    
    <h3>Цена: 8000 руб.</h3>
</BaseLayout>
