---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ItemImage from "./Item2.png"
import { Picture } from "astro:assets"

const itemName  = "Регулируемый газблок СВД/Тигр/TG3 с возможностью установки штатной мушки"
const pageTitle = "| Рок-и-Ровка | Каталог".concat(" | ", itemName, " |")
---
<BaseLayout pageTitle={pageTitle} itemName = {itemName}>

    <Picture src={ItemImage} formats={['avif', 'webp']} alt="" layout='constrained' width={400} />

    <p><strong>Материал:</strong> Сталь 40Х, Алюминий</p>

    <p><strong>Масса:</strong> 90 г</p>

    <p><strong>Покрытие:</strong> корпус – Хим.Окс.Прм (черный), винт-регулятор - Хим.Окс.Прм (черный), шайбы – без
    покрытия</p>

    <p>Состоит из корпуса (сталь), винта-регулятора (сталь), 2х шайб (алюминий)
    Винт-регулятор имеет квадратную головку, посредством чего имеет возможность
    позиционироваться в 4 позиции. 1 позиция – полное перекрытие, остальные 3 – открытые
    регулировочные, позиции для удобства обозначены на головке винта.
    Корпус регулируемого газблока устанавливается на ствол вместо штатного газблока. Крепление
    типа муфты, зажим – 2 высокопрочных винта М4 в гайки (в случае каких-либо проблем с крепежом
    его легко и недорого заменить на новый)
    Корпус имеет сверху паз типа ласточкин хвост, идентичный соответствующему пазу на штатном
    пламегасителе для установки основания мушки с собственно мушкой. Важно: мушку необходимо
    будет укоротить со стороны резьбы на 3-4 мм.
    Регулируемый газблок позволяет снизить скорость отката затворной рамы, что особенно
    необходимо в случае использования банки.
    Упрощает разборку газового двигателя для чистки, особенно в случае применения нештатных
    шасси или цевья.</p>

    <p>Требуются слесарные навыки и инструмент для установки.</p>
    
    <h3>Инструкция по установке</h3>

    <p>Винты М4 крепления зажимаются моментом 4Нм. При монтаже выдержать зазор между
    толкателем и затворной рамой (~0.5 мм), а также убедится в совпадении газоотводных отверстий в
    стволе и корпусе газблока. Для выполнения этих условий в комплекте идут 2 шайбы 2мм и 3мм -
    устанавливать одну из двух, в зависимости от фактического положения газоотводного отверстия на
    стволе.
    При необходимости можно настроить газблок путем рассверливания отверстий в винте-
    регуляторе.
    Изменения положения винта-регулятора выполняется после приоткручивания газовой трубки на
    достаточное расстояние, чтобы квадрат винта вышел из зацепления с корпусом газблока.</p>
    
    <h3>Цена: 13900 руб.</h3>
</BaseLayout>
