---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ItemImage from "./Item6.png"
import SecondImage from "./Item6-1.png"
import { Picture } from "astro:assets"

const itemName  = "Комплект для снятия крышки ствольной коробки СВД/Тигр/TG3 отдельно от возвратного механизма"
const pageTitle = "| Рок-и-Ровка | Каталог".concat(" | ", itemName, " |")
---
<BaseLayout pageTitle={pageTitle} itemName = {itemName}>

    <Picture src={ItemImage} formats={['avif', 'webp']} alt="" layout='constrained' width={400} />

    <p><strong>Материал:</strong> Нержавеющая сталь</p>
    <p><strong>Масса:</strong> 6 г</p>
    <p><strong>Покрытие:</strong> без покрытия</p>
    
    <p>Комплект состоит из оси-трубки, пружины, 2х запирающих кнопок, 2х шплинтов 1.2х36 (1 шплинт
    запасной)</p>

    <p>Комплект заменяет собой штатную ось возвратного механизма, завальцованную с 2х сторон
    крышки ствольной коробки</p>

    <p>Подпружиненные кнопки входят выступом в отверстия крышки из-под штатной оси возвратного
    механизма, надежно удерживая крышку.</p>

    <p>Снятие крышки происходит при нажатии на кнопки с 2х сторон</p>

    <p>Требуются слесарные навыки и инструмент для установки</p>

    <h3>Инструкция по установке комплекта модернизации КСК</h3>

    <p>1. Высверлить либо сточить дреммелем завальцовку оси возвратного механизма (ВМ) с одной любой
    стороны крышки ствольной коробки (КСК)</p>

    <p>2. Выбить ось возвратного механизма</p>

    <p>3. Установить трубку Ø5.5 из комплекта в отверстие ВМ. Установить 2 кнопки Ø6.2 из комплекта с двух
    сторон ВМ. Убедиться, что кнопки свободно перемещаются (если нет – доработать цековки Ø6.5
    основания ВМ дреммелем)</p>

    <p>4. 5. Установить ВМ в сборе с комплектом, но без крышки, в ствольную коробку штатно
    Убедиться, что кнопки свободно перемещаются в условиях поджима возвратной пружиной (если нет
    – еще доработать цековки Ø6.5 основания ВМ дреммелем)</p>

    <p>6. Убедиться, что кнопки стороной Ø5.5 входят в отверстия из под оси ВМ в непосредственно крышке
    (если нет – доработать отверстия Ø5.5 из под оси ВМ в непосредственно крышке дреммелем)</p>

    <p>7. 8. Убедиться, что подпружиненные кнопки защелкиваются в отверстия КСК в сборе на карабине
    Установить шплинт (1 запасной) по оси комплекта. «Ножки» шплинта подрезать по месту и загнуть
    буквой «Т» внутрь отверстия Ø3 кнопки, как показано на Рис.</p>

    <p>9. Убедиться, что подпружиненные кнопки не вылетают из трубки – шплинт их удерживает.</p>

    <p>10. Убедиться, что крышка надевается на СК до защелкивания кнопок, а также снимается с СК при
    нажатии кнопок – отдельно от возвратного механизма (ВМ установлен штатно в СК)</p>
    
    <Picture src={SecondImage} formats={['avif', 'webp']} alt="" layout='constrained' width={400} />

    <h3>Цена: 3500 руб.</h3>
</BaseLayout>
