---
import BaseLayout from "../layouts/BaseLayout.astro";
// Thanks a lot
// https://stackoverflow.com/questions/748780/best-way-to-obfuscate-an-e-mail-address-on-a-website
// https://www.wbwip.com/wbw/emailencoder.html
// for the Best way to obfuscate an e-mail address on a website
---

<BaseLayout pageTitle="Рок-и-Ровка | Контакты" itemName="">
	<h2>Контакты</h2>
	<p>Пишите нам по адресу: <a href="mailto:&#114;&#105;&#114;&#064;&#109;&#101;&#050;&#046;&#115;&#117;">&#114;&#105;&#114;&#064;&#109;&#101;&#050;&#046;&#115;&#117;</a></p>
</BaseLayout>
